<div class="row-content">
  <p>Les champs avec (*) sont obligatoires</p>
  <form [formGroup]="postForm" (ngSubmit)="onSavePost()">

    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Titre *">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="content" placeholder="Votre Message *"></textarea>
    </mat-form-field>
      
    <button mat-raised-button color="primary" [disabled]="postForm.invalid" type="submit">Envoyé</button>
  </form>
</div>